@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<img id="noPrivacyImg" class="img-fluid" src="/img/no_privacy.jpg" alt="Image of having no privacy online from" onerror="this.src='/img/default_image.jpg' data-original-image-source="https://aofirs.org/articles/there-is-no-privacy-on-the-internet-of-things"">