@model CreatePostViewModel

@{
    ViewData["Title"] = "Create Post";
}

<h1>Create Post</h1>

<div class="col-md-7">
    <form asp-action="Create" asp-controller="Blog">
        <div class="form-group">
            <label asp-for="Titel"></label>
            <input asp-for="Titel" class="form-control" />
            <span asp-validation-for="Titel" class="text-danger"></span>
        </div>
       <div class="form-group">
            <label asp-for="Inhoud"></label>
            <textarea asp-for="Inhoud" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Inhoud" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Create</button>
        </div>
    </form>
</div>