@using Comme_Chez_Swa.Models.Menu;
@using System.Globalization;

@section Styles {
    <link rel="stylesheet" href="~/css/reservatie_Style.css">
}

@model Comme_Chez_Swa.Models.Reservatie.UserBindingModel

@{
    Dictionary<string, object>? imageConfigInstance = ViewData["ImageConfig"] as Dictionary<string, object>;
    string? logoPath = null;

    if (imageConfigInstance != null)
    {
        logoPath = imageConfigInstance["commeChezSwaLogo"] as string;
    }
}


<div id="home-root" class="container">
    <div id="home_root-menuContainer" class="d-flex flex-row align-items-start">
        <form action="/Reservatie/Reserveer" method="post">
            <div class="form-group">
                <label for="firstName">Voornaam:</label>
                <input type="text" name="firstName" class="form-control" id="firstName" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
