@{
    ViewData["Title"] = "Create Success!";
}

<h1>Create success!</h1>
<div class="row">
    <div class="alert alert-success col-md-6" role="alert">
        User successfully created!
    </div>
</div>